<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BlackPlanet Suite">
 
  <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
 
  <test name="Login and Sign Up">
    <classes>
      <class name="org.blackplanet.automation.tb.testcases.LoginScenario"/>
      <class name="org.blackplanet.automation.tb.testcases.SignupScenario"/>
    </classes>
  </test>
 
</suite>
